

.demo-card-wide.mdl-card {
    width: 100%;
}
.demo-card-wide > .mdl-card__title {
    color: #693131;
    height: 100%;
}
.demo-card-wide > .mdl-card__menu {
    color: #452222;
}

.mdl-card__sub_title{
    padding-left: 15px;
}


